.vscode/**
.vscode-test/**
.github/**
src/**
.gitignore
.eslintrc.json
.markdownlint.json
eslint.config.js
Makefile
PLAN.md
tsconfig.json
**/*.map
**/*.ts
!out/**
node_modules/**
!node_modules/marked/**
